.gridBox {
	border-top: #292f36 solid 1px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.gridBox li {
	text-align: center;
	width: 33.33333%;
	padding: 22px 0;
}

.gridBox li img {
	width: 72px;
	height: 72px;
	margin: 0 auto;
}

.gridBox .designation {
	font-size: 24px;
	color: #8D8D8D;
	margin-top: 10px;
}

.gridBox .indicator {
	font-size: 56px;
	color: #F1F1F1;
}

.btn-tj {
	width: 590px;
	height: 100px;
	color: #fff;
	font-size: 28px;
	text-align: center;
	line-height: 100px;
	margin: 40px auto 40px;
	background-image: url(../img/btn.png);
	background-position: center;
	background-repeat: no-repeat;
}
.xZt{
	font-size: 28px;
}
